.menu{
    padding: 5px;
}

.menu>ul {
    padding:2px 2px 2px 10px;
    list-style: none;
}
.menu>ul>li{ 
    font-size: 13px;
    display: inline-block;
    vertical-align:top;      
}

.menu>ul>li>a{
    width: 11em;
    color: rgb(255, 105, 45);
    font-family: Open Sans, sans-serif;	
    text-transform: uppercase;
    text-decoration: none;
    display: block;            
}

.menu>ul>li>a:hover{
    color:white;
}
