header{
    background-color: rgb(42, 47, 53);
    padding-bottom: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(42, 47, 53);
  color: rgb(255, 105, 45);
  text-align: center;
}

.logo>img{ 
    margin-top: 10px; 
    height: 40px;
    width: auto;
}

.logo>span{
    font-family:  cursive; 
    font-size: 2em;
    color: rgb(255, 105, 45)
}

body{
    background:  url(../images/background.jpg);
    background-position:  center;
    background-size: cover;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid gray;
}

tr:hover {background-color:#f5f5f5;}

.panel{width:100%;margin: auto; margin-top: 5px; border: 3px solid gray;  padding: 10px;}
.fila{width:100%}
.encabezado{background-color: black; color:rgb(255, 105, 45); text-align:center; font-size: 1.5em;}
.etiqueta{width:20%;display:inline-block}
.campo{width:60%;padding: 5px;display:inline-block}

input[type=text].is-invalid,input[type=password].is-invalid{
    border-color: red;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12 12;
    background-image: url("/Banca/images/is-invalid.png");    
}

.link-button { 
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer; 
}